*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Roboto !important;
  background-color: #1e1e1e;
}

.navbar {
  color: #fff;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #1a1a1a !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.65);
}

.nav-link:hover {
  color: #fff;
}

.dropdown-menu {
  --bs-dropdown-color: rgba(255, 255, 255, 0.89);
  --bs-dropdown-bg: #1a1a1a !important;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.603);
}

.dropdown-item:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #fff;
}

.nav-link:focus {
  color: #B85A5A;
}

.navbar-nav .nav-link.active {
  color: #B85A5A;
  font-weight: 600;
}

.offcanvas {
  background-color: #1e1e1e;
}

.offcanvas-header > .h5 {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B85A5A' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas-header .btn-close {
  filter: invert(36%) sepia(29%) saturate(347%) hue-rotate(320deg) brightness(90%) contrast(85%);
}

hr {
  border-color: hsla(0, 0%, 53.3%, 0.4) !important;
}

.card {
  background-color: #444;
  color: #edf6f9;
  padding: 1rem 1rem;
}

.card {
  margin: 0 0 25px;
  border:  1px solid hsla(0, 0%, 53.3%, 0.4);
  border-radius: 6px;
  background-color: #444;
}

.form-group label {
  color: #edf6f9;
  font-weight: 500;
  font-size: 0.85rem;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  background: transparent !important;
  color: #edf6f9;
  border:  1px solid hsla(0, 0%, 53.3%, 0.4);
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"], 
.form-group input[type="date"],
.form-group input[type="number"], 
.form-select {
  border: 1px solid rgba(145, 158, 171, .32);
  height: 2.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  color: #edf6f9;
  padding: 10px 15px;
  border-radius: 0.25rem;
  background-color: transparent;
}

.form-group textarea {
  border: 1px solid rgba(145, 158, 171, .32);
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  color: #edf6f9;
  padding: 10px 15px;
  border-radius: 0.25rem;
  background-color: transparent;
}

.form-group .select {
  border: 1px solid rgba(145, 158, 171, .32);
  height: 40px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  color: #edf6f9;
  padding: 10px 15px;
  border-radius: 0.25rem;
  background-color: transparent;
}

input:-internal-autofill-selected {
  background-color: #444 !important;
}

.form-group input:focus {
  border: 1px solid #B85A5A !important;
  outline: none; 
}

.form-group textarea:focus {
  border: 1px solid #B85A5A !important;
  outline: none; 
}

.form-select:focus {
  border: 1px solid #B85A5A !important;
  outline: none; 
  box-shadow: none;
}

.form-check-input {
  background-color: #ccc;
  border-color: #ccc;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #B85A5A;
  border-color: #B85A5A;
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%231b2850%27/%3e%3c/svg%3e");
  box-shadow: none;
}

.form-check-input:checked::before {
  background-color: white;
}

.form-check-label {
  font-size: 1rem !important;
  margin-left: 1rem;
  margin-top: 0.25rem;
  cursor: pointer;
  font-weight: 300 !important;
}

.btn-danger {
  background-image: linear-gradient(136deg,#813030 0%,#B85A5A 100%);
  border: none;
  transition: all 0.3s ease;
}

.btn-danger:hover {
  transform: scale(1.02);
  font-weight: 500;
}

h4 > span {
  color: #999999;
  font-size: 1.45rem;
}

small > span {
  color: #999999;
}

small > span:hover {
  text-decoration: underline;
  cursor: pointer
}

.modal-content {
  background-color: #444;
  color: #edf6f9;
}

.modal-body > form > .mb-3 > .form-control {
  background-color: transparent !important;
  border-color: rgba(145, 158, 171, .32);
  color: #edf6f9;
}

.modal-body > form > .mb-3 > .form-control:focus {
  border: 1px solid #B85A5A !important;
  outline: none; 
  box-shadow: none;
}

.modal-header {
  border-color: rgba(145, 158, 171, .32);
}

.modal-footer {
  border-color: rgba(145, 158, 171, .32);
}

.text-bg-primary {
  background-color: rgba(13, 110, 253, 0.15) !important;
  border: 1px solid rgb(13, 110, 253) !important;
}

.text-bg-secondary {
  background-color: rgba(108, 117, 125, 0.15) !important;
  border: 1px solid rgb(108, 117, 125) !important;
}

.text-bg-success {
  background-color: rgba(25, 135, 84, 0.15) !important;
  border: 1px solid rgb(25, 135, 84) !important;
}

.text-bg-info {
  background-color: rgba(13, 202, 240, 0.15) !important;
  border: 1px solid rgb(13, 202, 240) !important;
  color: #fff !important;
}

.text-bg-warning {
  background-color: rgba(255, 193, 7, 0.15) !important;
  border: 1px solid rgb(255, 193, 7) !important;
  color: #fff !important;
}

.text-bg-danger {
  background-color: rgba(220, 53, 69, 0.15) !important;
  border: 1px solid rgb(220, 53, 69) !important;
}

.text-ease {
  color: #c9c9c9;
}

#agentes-container {
  max-height: 587px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#agentes-container::-webkit-scrollbar-track {
    background: transparent;    
    border: 1px solid transparent;
}

#agentes-container::-webkit-scrollbar-thumb {
    background: #888;       
    border-radius: 0.5rem;
    border: 3px solid #1e1e1e; 
}

#agentes-container::-webkit-scrollbar {
    width: .75rem;
}

.form-control:focus {
  box-shadow: none;
  color: #edf6f9;
}